YELLOW='\033[1;33m'
RED='\033[0;31m'
NC='\033[0m' # No Color

printf "Loading aliases..."

gitf() {
  local CURRENT_BRANCH="$1"
  
  if [ -v CURRENT_BRANCH ];then
    printf "Automatically setting branch\n"
    CURRENT_BRANCH="$(git rev-parse --abbrev-ref HEAD)";
  fi

  if [ $CURRENT_BRANCH = "master" ];then
    printf "${RED}Push failed. Current branch cannot be master.\n" 
  else
    printf "${YELLOW}git push --force-with-lease origin ${RED}$CURRENT_BRANCH${NC}\n"
    git push --force-with-lease origin $CURRENT_BRANCH 
  fi
}

replace_all() {
  GIT_DIR=./.git
  if [ -d "$GIT_DIR" ]; then
    ag -0 -l $1 | xargs -0 perl -pi -e "s/$1/$2/g"
  else
    ECHO "No .git directory found."
    #  ag -0 -l $1 | xargs -0 perl -pi.bak -e "s/$1/$2/g"
  fi
}


alias add_rsa='ssh-add ~/.ssh/id_rsa &>/dev/null'
alias ctags=/usr/local/bin/ctags
alias vim=nvim

printf "done.\n"

